@charset "utf-8";
a:focus{outline:none !important;}
button:focus{outline:none !important;}

body{
	background: url("../img/login_bg.png") no-repeat 100%;
}
.table_wrap{
	position: absolute;

	top: 40%;

	left: 50%;

	transform: translate(-50%);}

.logo_title{
height:33%;
width:50%;
float: left;
text-align:center;
color: #fff;
margin-top: 10px;
}
.logo_title svg{
	transform: rotate(90deg);
	font-weight: bold;
	font-size: 80px;
}
.logo_title h1{
font-weight: bold;
font-size: 45px;
}
.form-group{
	margin: 0;
}
.form_wrap{
width: 50%; float: left; padding: 0px 5%; border-left: 1px solid #fff;
}
.form_wrap h2{
	text-align: center;
color: #fff;
font-size: 38px;
margin-top: 0;

}		
.form_wrap .input-group:first-child{
	margin-bottom: 5px;
}
	.form_button label{
		color: #eee;
		font-weight: 500;
		margin: 2px;
		}
		ul{
			padding: 0;
			list-style: none;
		}
		.sub_btn li{
			width: 50%;
			float: left;
		}
		.sub_btn li:first-child button{
			border-right: 1px solid #fff;
		}
		.sub_btn li button{
			background: none;
			border: none;
			border-radius: 0;
			color: #eeee;
		}
		.sub_btn li button:hover{
			color: #0098d7;
		}
		button:hover{
			cursor: pointer;
		}
		.login_btn{
		height: 34px !important;	
		margin-bottom: 10px;
		background-color: #004259;
		border-color: #003C51;
		
		color: #eee;
		}
		.login_btn:hover{
			background-color: #002f3e;
		border-color: #002E3C;
		}
		h1 small{
			color: #ddd;
			font-size: 85%;
			line-height: 1.2;}