<style>
	.OnAir_Monitor 			{width:100%; height:100%;}
	.OnAir_Monitor table	{width:100%; height:100%; font-size:100%; border-collapse: separate; border-spacing: 1px; line-height: 100%;}
	.OnAir_Monitor table th	{font-weight:bold; text-align: center; white-space:normal; vertical-align: middle; word-break:break-all; word-wrap:break-all; background:#4789b7; color:white; }
	.OnAir_Monitor table td	{text-decoration:none; text-align: left;   white-space:normal; vertical-align: middle; word-break:break-all; word-wrap:break-all; background:#eee; padding:0 10px;}
	

	.OnAir_Call_Status 			{width:100%; height:100%;}
	.OnAir_Call_Status table	{width:100%; height:100%; font-size:100%; border: 0px;  line-height: 100%;}
	.OnAir_Call_Status table th	{border: 0px; text-align: center;   }
	.OnAir_Call_Status table td	{border: 0px; }
</style>

<script>
var DIV_CALL_STATUS_LOG = 'DIV_CALL_STATUS_LOG';

_RS.GRID_COLS = 10;
_RS.GRID_ROWS = 100;
_RS.NumberArray = function(n) {
	var A = [];
	for (var i=0; i<n; i++) {
		A.push(i);
	}
	return A; 
}
var IVR_SERVER_SELECTED		= null;
var OnAir_WS_SERVER_URL	= '';
var OnAir_WS_CHANNEL		= 'onair-service';

var CALL_GRID_STATUS = [];
var TOGGLE_CALL_STATUS_LOG = false;
var TOGGLE_CALL_WAVE = false;
var FLAG_CALL_AMOUNT_WINDOW = false;

var STR_HTML_CALL_STATUS = null;

function IP_TO_WS_SERVER_URL(STR_IP) {
	return 'ws://' + STR_IP + ':7710';
//	return 'ws://' + window.location.hostname + ':2367';
//	return 'ws://pbx.q1p.win:8080/API/';
}

var PREV_OnAir_STREAMMING = {};

function REQUEST_OnAir_STREAMMING(JSON_REQUEST) {
	if ('CALL_ID' in JSON_REQUEST) {
		if (JSON_REQUEST.CMD == 'START_OnAir_STREAMMING') {
			if (!('CALL_ID' in PREV_OnAir_STREAMMING) || (JSON_REQUEST.CALL_ID != PREV_OnAir_STREAMMING.CALL_ID)) {
				if ((JSON_REQUEST.RTP_1.length > 0) && (JSON_REQUEST.RTP_2.length > 0)) {
					if (!TOGGLE_CALL_WAVE) {
						TOGGLE_CALL_WAVE = true;
						UPDATE_LAYOUT();
					}
					if ('CALL_ID' in PREV_OnAir_STREAMMING) {
						PREV_OnAir_STREAMMING.CMD = 'STOP_OnAir_STREAMMING';
						QIIP_APP_LOG_CONSOLE.CHAT_LOG(
							DIV_CALL_STATUS_LOG,
							JSON.stringify(PREV_OnAir_STREAMMING, null, '  '),
							'me',
							'70%'
						);
						WS_CONNECTION_FOR_OnAir_Monitor.send(JSON.stringify(PREV_OnAir_STREAMMING));
						PREV_OnAir_STREAMMING = {};
					}

					QIIP_APP_LOG_CONSOLE.CHAT_LOG(
						DIV_CALL_STATUS_LOG,
						JSON.stringify(JSON_REQUEST, null, '  '),
						'me',
						'70%'
					);
					
					WS_CONNECTION_FOR_OnAir_Monitor.send(JSON.stringify(JSON_REQUEST));
				}
			}
		} else {
			if (('CALL_ID' in PREV_OnAir_STREAMMING) && (JSON_REQUEST.CALL_ID == PREV_OnAir_STREAMMING.CALL_ID)) {
				if ((PREV_OnAir_STREAMMING.RTP_1.length > 0) && (PREV_OnAir_STREAMMING.RTP_2.length > 0)) {
					PREV_OnAir_STREAMMING.CMD = 'STOP_OnAir_STREAMMING';
					if (!TOGGLE_CALL_WAVE) {
						TOGGLE_CALL_WAVE = true;
						UPDATE_LAYOUT();
					}
					QIIP_APP_LOG_CONSOLE.CHAT_LOG(
						DIV_CALL_STATUS_LOG,
						JSON.stringify(PREV_OnAir_STREAMMING, null, '  '),
						'me',
						'70%'
					);
					WS_CONNECTION_FOR_OnAir_Monitor.send(JSON.stringify(PREV_OnAir_STREAMMING));
				}
			}
		}
	}
	PREV_OnAir_STREAMMING = JSON_REQUEST;
}

function REFRESH_BTN_PAGE() {
	if ($(".BTN_OnAir_Monitor").length < 1) return;
	
	$(".BTN_OnAir_Monitor").unbind();
		
	$(".BTN_OnAir_Monitor").jqxButton({
		width: '100%',
		height: '100%'
	}).on('click', function () {
		var ID = $(this).attr('ID');
		if (ID == 'DUMMY') {
		} else if (ID == 'BTN_START_OnAir_STREAMMING') {
			REQUEST_OnAir_STREAMMING({
				CMD:		'START_OnAir_STREAMMING',
				WS_CONNECTION_ID: MY_WS_OnAir_CONNECTION_ID,
				CALL_ID:	$(this).attr('CALL_ID'),
				RTP_1:		$(this).attr('RTP_1'),
				RTP_2:		$(this).attr('RTP_2'),
			});
		} else if (ID == 'BTN_STOP_OnAir_STREAMMING') {
			if ('CALL_ID' in PREV_OnAir_STREAMMING) {
				REQUEST_OnAir_STREAMMING({
					CMD:		'STOP_OnAir_STREAMMING',
					WS_CONNECTION_ID: MY_WS_OnAir_CONNECTION_ID,
					CALL_ID:	PREV_OnAir_STREAMMING.CALL_ID,
					RTP_1:		PREV_OnAir_STREAMMING.RTP_1,
					RTP_2:		PREV_OnAir_STREAMMING.RTP_2,
				});
			}
		}
	});
}

function INIT_WIDGETS_FOR_MENU_CONTENTS() {
	
	$(".BTN_OnAir_Monitor").jqxButton({
		width: '100%',
		height: '100%'
	}).on('click', function () {
		var ID = $(this).attr('ID');
		if (ID == 'DUMMY') {
		} else if (ID == 'BTN_TOGGLE_CALL_STATUS_LOG') {
			TOGGLE_CALL_STATUS_LOG = !TOGGLE_CALL_STATUS_LOG;
			UPDATE_LAYOUT();
		} else if (ID == 'BTN_TOGGLE_CALL_WAVE') {
			TOGGLE_CALL_WAVE = !TOGGLE_CALL_WAVE;
			UPDATE_LAYOUT();
		} else if (ID == 'BTN_POPUP_SYSTEM_STATUS') {
			POPUP_IFRAME({
				TITLE: IVR_SERVER_SELECTED.SERVER_IP + ' 설정화면',
				DIV_ID: 'FRAME_IVR_DASHBOARD',
				IFRAME_URL: sprintf('http://%s', IVR_SERVER_SELECTED.SERVER_IP)
			});
		} else if (ID == 'BTN_POPUP_MYSQL') {
			POPUP_IFRAME({
				TITLE: IVR_SERVER_SELECTED.SERVER_IP + ' MYSQL',
				DIV_ID: 'FRAME_MYSQL',
				IFRAME_URL: sprintf('http://%s/mysql', IVR_SERVER_SELECTED.SERVER_IP)
			});
		}
	});

	for (var i=0; i<(_RS.GRID_ROWS * _RS.GRID_COLS); i++) {
		CALL_GRID_STATUS.push({});
	}

	TOGGLE_SIDEMENU(function () {
		$('#MENU_CONTENTS').css('height', ($('#SIDEMENU_PAGE').height() - 70) / $('#SIDEMENU_PAGE').height() * 100 + '%');

		UPDATE_LAYOUT();
		LOAD_CONFIG();
	});
	
}

function POPUP_IFRAME(JSON_ARGS, ON_CLOSE) {
	console.log(JSON_ARGS);
	var OBJ_POPUP = QIIP_JQX_POPUP_WINDOW({
	        showCollapseButton: true, 
	        showAnimationDuration: 0,
	        closeAnimationDuration: 0,

	        minHeight: 100,
	        minWidth: 100,
	        maxWidth: 3000,
	        
	        width: '95%',
	        height: '95%',
		},
		JSON_ARGS.TITLE,
		'<iframe style="width:100%;height:100%;overflow:auto;" id="' + JSON_ARGS.DIV_ID + '"></iframe>',
		ON_CLOSE
	);
//	$('#FRAME_IVR_DASHBOARD').attr('src', 'http://' + IVR_SERVER_SELECTED.SERVER_IP + '/admin/config.php?STAT_ONLY');
	$('#' + JSON_ARGS.DIV_ID).attr('src', JSON_ARGS.IFRAME_URL);

}

function UPDATE_LAYOUT() {
	if (TOGGLE_CALL_STATUS_LOG) {
		$('#DIV_CALL_STATUS').css('width','60%');
		$('#DIV_CALL_STATUS_LOG').css('width','40%');
		$('#BTN_TOGGLE_CALL_STATUS_LOG').html('풍선로그 가리기');
	} else {
		$('#DIV_CALL_STATUS').css('width','100%');
		$('#DIV_CALL_STATUS_LOG').css('width','0%');
		$('#BTN_TOGGLE_CALL_STATUS_LOG').html('풍선로그 보이기');
	}

	if (TOGGLE_CALL_WAVE) {
		$('#AREA_NAUTES_SoundVisualizer').css('height','20%');
		$('#AREA_NAUTES_SoundVisualizer').show();
		$('#DIV_CALL_GRID').css('height','80%');
		$('#BTN_TOGGLE_CALL_WAVE').html('음성파형 가리기');
		if (_NAUTES_SoundVisualizer_FROM == undefined) {
			INIT_NAUTES_SoundVisualizer_FROM();
		}
		if (_NAUTES_SoundVisualizer_TO == undefined) {
			INIT_NAUTES_SoundVisualizer_TO();
		}
		
	} else {
		$('#AREA_NAUTES_SoundVisualizer').css('height','0%');
		$('#AREA_NAUTES_SoundVisualizer').hide();
		$('#DIV_CALL_GRID').css('height','100%');
		$('#BTN_TOGGLE_CALL_WAVE').html('음성파형 보이기');
	}
	
	
}

function LOAD_CONFIG() {

	INIT_WIDGETS_FOR_SELECT_IVR_SERVER(_RS.APP_CONFIG.IVR_SERVER_IPS);
	IVR_SERVER_SELECTED = _RS.APP_CONFIG.IVR_SERVER_IPS[0];
	CHANGE_MONITOR_TARGET_IVR_SERVER();
	return;

/*	
	QIIP_API_ACCESS({
			REQ: 'api_GET_FILE',
			FLDR_TEMPLATE: _FLDR_TEMPLATE,
			FILE_TEMPLATE: 'PAGES/CONFIG.JSON',
		},function(STR_RESULT) {
			_RS.CONFIG = {};
			try { _RS.CONFIG = JSON.parse(STR_RESULT); } catch(e) { }
			_RS.$apply();

	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		JSON.stringify(_RS.CONFIG, null, '\t'),
	    		'me',
	    		'70%'
	    	);
	    	
			INIT_WIDGETS_FOR_SELECT_IVR_SERVER(_RS.CONFIG.IVR_SERVER_IPS);
	    	IVR_SERVER_SELECTED = _RS.CONFIG.IVR_SERVER_IPS[0];
			CHANGE_MONITOR_TARGET_IVR_SERVER();
		}
	);
*/
}

function INIT_WIDGETS_FOR_SELECT_IVR_SERVER(ARRAY_IVR_SERVER) {
	$("#SELECT_STATUS_COLS").jqxDropDownList({
		width: '100%',
		source: [
			{
				DISP: '10',
				VALUE: 10
			},
		],
		displayMember: 'DISP',
		valueMember: 'VALUE',
		selectedIndex: 0
	}).on('change', function (event) {
		var args = event.args;
		if (args) {
			_RS.GRID_COLS = args.item.originalItem.VALUE;
			_RS.$apply();
		}
	});

	$("#SELECT_STATUS_ROWS").jqxDropDownList({
		width: '100%',
		source: [
			{
				DISP: '10',
				VALUE: 10
			},
			{
				DISP: '20',
				VALUE: 20
			},
			{
				DISP: '50',
				VALUE: 50
			},
			{
				DISP: '100',
				VALUE: 100
			},
			{
				DISP: '200',
				VALUE: 200
			},
		],
		displayMember: 'DISP',
		valueMember: 'VALUE',
		selectedIndex: 3
	}).on('change', function (event) {
		var args = event.args;
		if (args) {
			_RS.GRID_ROWS = args.item.originalItem.VALUE;
			_RS.$apply();
		}
	});

	$("#SELECT_IVR_SERVER").jqxDropDownList({
		width: '100%',
		source: ARRAY_IVR_SERVER,
		displayMember: 'SERVER_NAME',
		valueMember: 'SERVER_IP',
		selectedIndex: 0
	}).on('change', function (event) {
		var args = event.args;
		if (args) {
			// index represents the item's index.                      
			var index = args.index;
			var item = args.item;
			// get item's label and value.
			var label = item.label;
			var value = item.value;
			var type = args.type;

			IVR_SERVER_SELECTED = item.originalItem;
			CHANGE_MONITOR_TARGET_IVR_SERVER();

	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		'<xmp> CHANGE_TO => ' + JSON.stringify(IVR_SERVER_SELECTED, null, '\t'),
	    		'me',
	    		'70%'
	    	);
		}
	});
}

function CHANGE_MONITOR_TARGET_IVR_SERVER() {
	if (typeof WS_CONNECTION_FOR_OnAir_Monitor !== 'undefined' && WS_CONNECTION_FOR_OnAir_Monitor !== null) WS_CONNECTION_FOR_OnAir_Monitor.CLOSE_FORCE();
	OnAir_WS_SERVER_URL = IP_TO_WS_SERVER_URL(IVR_SERVER_SELECTED.SERVER_IP);
	INIT_WS_CONNECTION_FOR_OnAir_Monitor(OnAir_WS_SERVER_URL, OnAir_WS_CHANNEL);

//	$('#FRAME_IVR_DASHBOARD').attr('src', 'http://' + IVR_SERVER_SELECTED.SERVER_IP + '/admin/config.php?STAT_ONLY');
//	$('#FRAME_IVR_CONFIG_PAGE').attr('src', 'http://' + IVR_SERVER_SELECTED.SERVER_IP + '/admin/config.php?display=arsauth&STAT_ONLY');
}

var MY_WS_OnAir_CONNECTION_ID = '';
var WS_CONNECTION_FOR_OnAir_Monitor = undefined;
function INIT_WS_CONNECTION_FOR_OnAir_Monitor(ws_server, ws_channel) {

	WS_CONNECTION_FOR_OnAir_Monitor = {};
    // if user is running mozilla then use it's built-in WebSocket
    window.WebSocket = window.WebSocket || window.MozWebSocket;
  
    // if browser doesn't support WebSocket, just show some notification and exit
    if (!window.WebSocket) {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		'죄송합니다, 접속에 사용하신 웹 브라우저가 WebSockets 기능을 지원하지 않습니다.',
    		'me',
    		'70%'
    	);
      return;
    }

    // open connection
    WS_CONNECTION_FOR_OnAir_Monitor = new WebSocket(ws_server, ws_channel);


    WS_CONNECTION_FOR_OnAir_Monitor.onopen = function () {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		sprintf( "OnAir Call Monitor 시스템에 연결되었습니다."),
    		'me',
    		'70%'
    	);
    };
    
    WS_CONNECTION_FOR_OnAir_Monitor.onerror = function (error) {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		'OnAir Call Monitor 시스템에 어떤 문제가 있거나 OnAir Call Monitor 시스템이 응답하지 않습니다.',
    		'you',
    		'70%'
    	);
    };

    // most important part - incoming messages
    WS_CONNECTION_FOR_OnAir_Monitor.onmessage = function (message) {
        // try to parse JSON message. Because we know that the server always returns
        // JSON this should work without any problem but we should make sure that
        // the massage is not chunked or otherwise damaged.
        try {
          var JSON_PARSED = JSON.parse(message.data);
        } catch (e) {
	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		'이건 JSON 스트링이 아닌것 같아요! : ' + message.data,
	    		'me',
	    		'70%'
	    	);
			return;
        }

        // NOTE: if you're not sure about the JSON structure
        // check the server source code above
        if ('TYPE' in JSON_PARSED) {

			var TYPE = JSON_PARSED.TYPE;

			if (TYPE == 'WS_OnAir_CONNECTION_ID') {			// 대소문자 구분!
				MY_WS_OnAir_CONNECTION_ID = JSON_PARSED.WS_OnAir_CONNECTION_ID;
			  	var REQUEST = {
			  		CMD: 'REGIST_AS_MONITOR',
			  		WS_OnAir_CONNECTION_ID: MY_WS_OnAir_CONNECTION_ID
			  	};
			  	
		      	WS_CONNECTION_FOR_OnAir_Monitor.send(JSON.stringify(REQUEST));

		    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
		    		DIV_CALL_STATUS_LOG,
		    		JSON.stringify(REQUEST, null, '  '),
		    		'me',
		    		'70%'
		    	);
			} else if (TYPE == 'WS_OnAir_GSTT') {	// 대소문자 구분!
				
				if ('Transcription' in JSON_PARSED) {

			    	if (JSON_PARSED.FROM_OR_TO == 'FROM') {
			    		$('#DIV_GSTT_FROM').html(JSON_PARSED.Transcription);
			    	} else {
			    		$('#DIV_GSTT_TO').html(JSON_PARSED.Transcription);
			    	}
					
					if (JSON_PARSED.isFinal) {
						var TALKER = (JSON_PARSED.FROM_OR_TO == 'FROM') ? 'me' : 'you';
				    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
				    		DIV_CALL_STATUS_LOG,
				    		JSON_PARSED.Transcription,
				    		TALKER,
				    		'70%'
				    	);
					}
				}
				
			} else if (TYPE == 'WS_OnAir_CALL_EVENT') {	// 대소문자 구분!
				
				UPDATE_CALL_GRID_STATUS(JSON_PARSED);

			} else if (TYPE == 'OnAir_STREAM') {	// 대소문자 구분!
				if (JSON_PARSED.UNIQUE_ID.indexOf('FROM') >= 0) {
			    	_NAUTES_SoundVisualizer_FROM.PUT_UDP_JSON_SAMPLES_TO_SOUND_QUEUE(JSON_PARSED);
				} else {
			    	_NAUTES_SoundVisualizer_TO.PUT_UDP_JSON_SAMPLES_TO_SOUND_QUEUE(JSON_PARSED);
				}
			} else if (TYPE == 'WS_OnAir_RESULT') {	// 대소문자 구분!
				if (JSON_PARSED.CODE == 200) {
			    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
			    		DIV_CALL_STATUS_LOG,
			    		JSON.stringify(JSON_PARSED, null, '  '),
			    		'you',
			    		'70%'
			    	);
				} else if (JSON_PARSED.CODE != 200) {
			    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
			    		DIV_CALL_STATUS_LOG,
			    		'OnAir Call Monitor 시스템에 장애가 발생했습니다.<br/><br/>' +
			    		sprintf("장애 원인은<br/><br/>[%s]<br/><br/>입니다.", JSON_PARSED.MESSAGE),
			    		'you',
			    		'70%'
			    	);
				} else {
				}
			} else {
		    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
		    		DIV_CALL_STATUS_LOG,
		    		JSON.stringify(JSON_PARSED, null, '  '),
		    		'you',
		    		'70%'
		    	);
			}
        } else {
/*
	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		'흠..., JSON 스트링이 이런식이면 곤란한데...  TYPE 속성이 없쟎아...: ' + JSON.stringify(JSON_PARSED, null, '\t'),
	    		'me',
	    		'70%'
	    	);
*/
        }
    };

    WS_CONNECTION_FOR_OnAir_Monitor.onclose  = function () {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		'OnAir Call Monitor 시스템과 연결이 끊어졌습니다. 1초 이내에 연결을 재시도 합니다.',
    		'me',
    		'70%'
    	);
		//try to reconnect in 1 seconds
		setTimeout(function(){INIT_WS_CONNECTION_FOR_OnAir_Monitor(OnAir_WS_SERVER_URL, OnAir_WS_CHANNEL)}, 1000);
    };

    WS_CONNECTION_FOR_OnAir_Monitor.CLOSE_FORCE  = function () {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		'OnAir Call Monitor 시스템과 연결을 정상적으로 종료 합니다.',
    		'me',
    		'70%'
    	);
    	WS_CONNECTION_FOR_OnAir_Monitor.onclose  = function () {}; // disable onclose handler first
    	WS_CONNECTION_FOR_OnAir_Monitor.close();
    	WS_CONNECTION_FOR_OnAir_Monitor = undefined;
    }
}

function UPDATE_CALL_GRID_STATUS(JSON_PARSED) {
	
	if (JSON_PARSED.START_FLAG == 'A') return;
	if (JSON_PARSED.START_FLAG == 'S') return;
	
	var GRID_BOX_LAST;

		GRID_BOX_LAST = parseInt(JSON_PARSED.CALL_FROM.slice(-1));
	var INDEX_FOUNDED = -1;
	for(var i=GRID_BOX_LAST; i<CALL_GRID_STATUS.length; i += 10) {
		if (CALL_GRID_STATUS[i].CALL_ID == JSON_PARSED.CALL_ID) {
//		if ((CALL_GRID_STATUS[i].CALL_FROM == JSON_PARSED.CALL_FROM) &&  (CALL_GRID_STATUS[i].CALL_TO == JSON_PARSED.CALL_TO)){
			CALL_GRID_STATUS[i] = JSON_PARSED; // update
			INDEX_FOUNDED = i;
			break;
		}
	}
	if (INDEX_FOUNDED < 0) {
		GRID_BOX_LAST = parseInt(JSON_PARSED.CALL_TO.slice(-1));
		for(var i=GRID_BOX_LAST; i<CALL_GRID_STATUS.length; i += 10) {
			if (CALL_GRID_STATUS[i].CALL_ID == JSON_PARSED.CALL_ID) {
	//		if ((CALL_GRID_STATUS[i].CALL_FROM == JSON_PARSED.CALL_FROM) &&  (CALL_GRID_STATUS[i].CALL_TO == JSON_PARSED.CALL_TO)){
				CALL_GRID_STATUS[i] = JSON_PARSED; // update
				INDEX_FOUNDED = i;
				break;
			}
		}
	}
	if (INDEX_FOUNDED < 0) {
		for(var i=GRID_BOX_LAST; i<CALL_GRID_STATUS.length; i += 10) {
			if (!('CALL_ID' in CALL_GRID_STATUS[i])) {
				CALL_GRID_STATUS[i] = JSON_PARSED;
				INDEX_FOUNDED = i;
				break;
			}
		}
	}
	
//	$('#CALL_GRID_' + INDEX_FOUNDED).css('backgroundColor', 'yellow');
	$('#CALL_GRID_' + INDEX_FOUNDED).html(GET_HTML_STATUS(CALL_GRID_STATUS[INDEX_FOUNDED]));
	
	if (JSON_PARSED.START_FLAG == 'E') {
//		$('#CALL_GRID_' + INDEX_FOUNDED).css('backgroundColor', '');
		$('#CALL_GRID_' + INDEX_FOUNDED).html('');
		if (JSON_PARSED.CALL_ID ==PREV_OnAir_STREAMMING.CALL_ID) {
			REQUEST_OnAir_STREAMMING({
				CMD:		'STOP_OnAir_STREAMMING',
				WS_CONNECTION_ID: MY_WS_OnAir_CONNECTION_ID,
				CALL_ID:	PREV_OnAir_STREAMMING.CALL_ID,
				RTP_1:		PREV_OnAir_STREAMMING.RTP_1,
				RTP_2:		PREV_OnAir_STREAMMING.RTP_2,
			});
		}
		CALL_GRID_STATUS[INDEX_FOUNDED] = {};
	}
//	_RS.$apply();

	REFRESH_BTN_PAGE();
}

function GET_HTML_STATUS(JSON_PARSED) {
	var STR_HTML = '';
		STR_HTML += '<div class="OnAir_Call_Status">';
		STR_HTML += '<table>';
		STR_HTML += '	<tr>';
		STR_HTML += '		<th style="text-align:center; color:black; font-weight:normal; font-size:0.8em;">';
		STR_HTML += JSON_PARSED.CALL_FROM;
		STR_HTML += '		</th>';
		STR_HTML += '	</tr>';
		STR_HTML += '	<tr>';
		STR_HTML += '		<td style="text-align:center; color:black; font-weight:normal; font-size:0.8em;">';
		STR_HTML += JSON_PARSED.CALL_TO;
		STR_HTML += '		</td>';
		STR_HTML += '	</tr>';

		STR_HTML += '	<tr>';
		STR_HTML += '		<td style="text-align:center; color:black; font-weight:normal; font-size:0.8em;">';
		STR_HTML += '			<button class="BTN_OnAir_Monitor" id="BTN_START_OnAir_STREAMMING" ';
		STR_HTML += '				CALL_ID="' + JSON_PARSED.CALL_ID + '" ';
		STR_HTML += '				RTP_1="' + JSON_PARSED.RTP_1 + '" ';
		STR_HTML += '				RTP_2="' + JSON_PARSED.RTP_2 + '" >';
		if ((JSON_PARSED.RTP_1.length > 0) && (JSON_PARSED.RTP_2.length > 0)) {
			STR_HTML += '				청취 시작';
		} else {
			STR_HTML += '				청취 준비';
		}
		STR_HTML += '			</button>';
		STR_HTML += '		</td>';
		STR_HTML += '	</tr>';

		STR_HTML += '</table>';	
		STR_HTML += '</div>';
	return STR_HTML;
}


function TEST2() {
	var filename = "readme.txt";
	var text = "Text of the file goes here.";
	var blob = new Blob([text], {type:'text/plain'});
	var link = document.createElement("a");
	link.download = filename;
	link.innerHTML = "Download File";
	link.href = window.URL.createObjectURL(blob);
//	document.body.appendChild(link);
	return link.outerHTML;
}

function downloadAll_TEST() {
	download_files([
		'http://ask-regard.call-save.biz?PASS=1&cmd=api_YOUTUBE_MP3&YOUTUBE_videoId=yQxB1M0VZLU&EXT=.mp3',
		'http://ask-regard.call-save.biz?PASS=1&cmd=api_YOUTUBE_MP3&YOUTUBE_videoId=VxohG-rWTuI&EXT=.mp3',
		'http://ask-regard.call-save.biz?PASS=1&cmd=api_YOUTUBE_MP3&YOUTUBE_videoId=5_N4XhpB_Ts&EXT=.mp3',
		'http://ask-regard.call-save.biz?PASS=1&cmd=api_YOUTUBE_MP3&YOUTUBE_videoId=9Wp3a2DnkoE&EXT=.mp3',
		'http://ask-regard.call-save.biz?PASS=1&cmd=api_YOUTUBE_MP3&YOUTUBE_videoId=KzfCp-rBZvg&EXT=.mp3',
		'http://ask-regard.call-save.biz?PASS=1&cmd=api_YOUTUBE_MP3&YOUTUBE_videoId=2TO0M3sf8E4&EXT=.mp3'
	]);
}

function download_files(ar) {
    var prevfun=function(){};
    ar.forEach(function(address) {  
        var pp=prevfun;
        var fun=function() {
                var form = $('<form action="' + address + '" method="POST"></form>');
                $('body').append(form);
                $(form).submit();
                setTimeout(function() {
                    $(document).one('mousemove', function() { //<--slightly hacky!
                        form.remove();
                        pp();
                    });
                },500);
        }
        prevfun=fun; 
      });
      prevfun();   
}

var _NAUTES_SoundVisualizer_FROM = undefined;
function INIT_NAUTES_SoundVisualizer_FROM() {
	_NAUTES_SoundVisualizer_FROM = new NAUTES_SoundVisualizer({
		DOM_ID_FOR_RENDERING: 'DIV_NAUTES_SoundVisualizer_FROM',
		DOWNLOAD_DISABLE: false,
		WAVE_DISPLAY_ONLY: true,
	});
/*
	_NAUTES_SoundVisualizer_FROM.WAE_PLAYLIST.load([{
			src: 'http://ask-regard.call-save.biz?PASS=1&cmd=api_YOUTUBE_MP3&YOUTUBE_videoId=yQxB1M0VZLU&EXT=.mp3'
	}]).then(function() {
	});
*/
}

var _NAUTES_SoundVisualizer_TO = undefined;
function INIT_NAUTES_SoundVisualizer_TO() {
	_NAUTES_SoundVisualizer_TO = new NAUTES_SoundVisualizer({
		DOM_ID_FOR_RENDERING: 'DIV_NAUTES_SoundVisualizer_TO',
		DOWNLOAD_DISABLE: false,
		WAVE_DISPLAY_ONLY: true,
	});
/*
	_NAUTES_SoundVisualizer_TO.WAE_PLAYLIST.load([{
			src: 'http://ask-regard.call-save.biz?PASS=1&cmd=api_YOUTUBE_MP3&YOUTUBE_videoId=yQxB1M0VZLU&EXT=.mp3'
	}]).then(function() {
	});
*/
}

</script>
<div class="OnAir_Monitor">
	<div style="height:5%;">
		<table>
			<col width="10%" />
			<col width="10%" />
			<col width="5%" />
			<col width="6%" />
			<col width="5%" />
			<col width="6%" />

			<col width="13%" />
			
			<col width="9%" />
			<col width="9%" />
			<col width="9%" />
			<col width="9%" />
			<col width="9%" />
			<tr>
				<th style="background:#94bbd6; color:#333;">SELECT IVR</th>
				<td>
					<div id="SELECT_IVR_SERVER" />
				</td>

				<th style="background:#94bbd6; color:#333;">COLS</th>
				<td>
					<div id="SELECT_STATUS_COLS" />
				</td>

				<th style="background:#94bbd6; color:#333;">ROWS</th>
				<td>
					<div id="SELECT_STATUS_ROWS" />
				</td>
				
				<td>
					<button class="BTN_OnAir_Monitor" id="BTN_TOGGLE_CALL_WAVE">
					</button>
				</td>
				<td>
					<button class="BTN_OnAir_Monitor" id="BTN_TOGGLE_CALL_STATUS_LOG">
					</button>
				</td>

				<td>
				</td>
				
				<td>
				</td>

				<td>
					<button class="BTN_OnAir_Monitor" id="BTN_POPUP_SYSTEM_STATUS">
						대쉬보드
					</button>
				</td>
				<td>
					<button class="BTN_OnAir_Monitor" id="BTN_POPUP_MYSQL">
						MYSQL
					</button>
				</td>
			</tr>
		</table>
	</div>
	<div style="height:95%">
		<div style="width:60%;height:100%;float:left;" id="DIV_CALL_STATUS">
			<div style="width:100%;height:40%;" id="AREA_NAUTES_SoundVisualizer">
				<div style="width:45%;height:100%;float:left;" >
					<div style="width:100%;height:40%;" id="DIV_NAUTES_SoundVisualizer_FROM">
					</div>
					<div style="width:100%;height:60%;" id="DIV_GSTT_FROM">
					</div>
				</div>
				<div style="width:10%;height:100%;float:left">
					<button class="BTN_OnAir_Monitor" id="BTN_STOP_OnAir_STREAMMING">
						청취 종료
					</button>
				</div>
				<div style="width:45%;height:100%;float:left;">
					<div style="width:100%;height:40%;" id="DIV_NAUTES_SoundVisualizer_TO">
					</div>
					<div style="width:100%;height:60%;" id="DIV_GSTT_TO">
					</div>
				</div>
			</div>
			<div style="width:100%;height:60%;overflow:auto;" id="DIV_CALL_GRID">
				<table style="width:100%;height:100%;">
					<col width="5%" />
			      	<col ng-repeat="nCol in NumberArray(GRID_COLS)" width="{{ 95 / GRID_COLS }}%" >
			      	</col>
				  	<tr style="height:50px;">
				      	<td>
				  		</td>
				      	<th ng-repeat="nCol in NumberArray(GRID_COLS)" >
				      		{{nCol}}
				      	</th>
				  	</tr>
				  	<tr style="height:150px;" ng-repeat="nRow in NumberArray(GRID_ROWS)">
				      	<th style="text-align:center;">
				      		{{nRow * GRID_COLS}}
				      	</th>
				      	<td ng-repeat="nCol in NumberArray(GRID_COLS)" >
				      		<div style="width:100%; height:100%;overflow:auto;" id="CALL_GRID_{{nRow*GRID_COLS + nCol}}">
				      		</div>
				      	</td>
				  	</tr>
				</table>
			</div>
		</div>
		<div style="width:40%;height:100%;float:left;background-color:#c9c9c9;overflow:auto;" id="DIV_CALL_STATUS_LOG">
		</div>
	</div>
</div>
