<link rel="stylesheet" href="/WEBAPPS/APPS/Green-Line/PAGES/SIDEMENU_APPS.css">
<script>

	function ON_MENU_CLICK(JSON_MENU) {
//		alert(JSON.stringify(JSON_MENU, null, '\t'));
		QIIP_API_ACCESS({
				REQ: 'api_GET_PAGE',
				FLDR_TEMPLATE: _FLDR_TEMPLATE,
				FILE_TEMPLATE: JSON_MENU.MENU_CONTENTS,
			},function(STR_RESULT) {
				$('#MENU_TITLE').html(JSON_MENU.MENU_STRING);
				$('#MENU_CONTENTS').html(_AC(STR_RESULT)(_RS)); _RS.$apply();
				if ('MENU_INIT_FUNC' in JSON_MENU) {
					setTimeout(function () {
						eval(JSON_MENU.MENU_INIT_FUNC);
					}, 50);
				}
			}
		);
	}
	function TOGGLE_SIDEMENU(FUNC) {
        $('#sidebar').toggleClass('active');
        $('#sidebarCollapse').toggleClass('active');
        if (FUNC != undefined) { FUNC();}
	}
	function SET_SIDEMENU_EVENT() {
		// FOR BOOTSTRAP_SIDEMENU EVENT
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
        if (_RS._ACCESS_FROM_APP) TOGGLE_SIDEMENU();
	}
	
</script>

<div id="QIIP_SIDEMENU">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>{{APP_CONFIG.SIDEMENU_APPS.HEADER}}</h3>
        </div>

        <ul class="list-unstyled components">
        	<!--
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            -->
			<li ng-repeat="MENU_ITEM in APP_CONFIG.SIDEMENU_APPS.MENUITEMS" ng-click="ON_MENU_CLICK(MENU_ITEM)">
				<a>{{MENU_ITEM.MENU_STRING}}</a>
			</li>
			<li ng-show="!_ACCESS_FROM_APP" ng-click="QIIP_APP_LOGOUT()">
				<a>로그아웃</a>
			</li>
        </ul>
<!--
        <ul class="list-unstyled CTAs">
            <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
            <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
        </ul>
-->
    </nav>

    <!-- Page Content Holder -->
    <div id="SIDEMENU_PAGE">
        <nav class="navbar navbar-default" id="DIV_NAVBAR">
            <div class="container-fluid">

                <div class="navbar-header" style="float:left;">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>

				<div class="topnav-centered" style="margin-left:15%;margin-top:2.5%;">
					<a id="MENU_TITLE"></a>
				</div>
                
            </div>
        </nav>
		<div id="MENU_CONTENTS"></div>
    </div>
</div>
