@charset "utf-8";
/* right_con 영역 */
.right_con{
	background-color: #eee;
	width: 65%;
	height: 100%;
	float: left;
	padding: 15px;
}
/* 차트 그룹 */
.right_con .chart_group{
	width: 100%; height: 73%;
}
.right_con .chart_group h2{
border-bottom: 2px solid #e06731;
padding-left: 20px;
font-size: 21px;
line-height: 1.6;
color: #e06731;
}
.right_con .chart_group .chart_g{
	padding:0;
	width: 100%;
	margin: 0 auto;
}
.right_con .more_btn{
	box-shadow:none !important;
}


/* 차트 패널 */
.right_con .chart_panel{
width: 70%;
height: 100%;
float: left;
padding-top: 0.5%;
}
.right_con ul.nav-tabs{
	height: 5%;
	border-bottom: 1px solid #e06731;

}
.right_con ul.nav-tabs li{
width: 14%;
height: 100%;
text-align: center;
}
.right_con ul.nav-tabs li a{
border-radius: 4px 4px 0px 0px;
padding: 1%;
height: 100%;
display: block;
border: none !important;
color: #777;
line-height: 1.7;
}
.right_con ul.nav-tabs li.active a{
	background: #e06731;
	color: #fff;
}
.right_con .chart3{
	padding-left: 3.5%;
	
padding-top: 0.5%;
}
.right_con .chart3 h3{
height: 5%;

font-size: 16px;

line-height: 1.7;

color: #3c3c3c;

font-weight: bold;

text-align: center;

border-bottom: 1px solid #e06731;

margin: 0;

}
.right_con .chart3 .chart-inner-text{
	font-size: 26px;
}