<ion-view view-title="{{APP_NAME}}">
  <ion-content>
  <ion-pane>
	<div class="qiip_index" style="width:100%; height:100%;">
		<div style="width:100%; height:88%;" id="WHERE_IS_MAP_HOLDER">
		</div>
		<div style="width:100%; height:6%;">
			<table style="border-style: none;">
				<col width="30"/>
				<col width="30%"/>
				<col width="40%"/>
				<tr>
					<td ><button class="BTN_LABEL" id="BTN_WHERE_IS_TO_MY_LOCATION" style="width:100%;height:100%;">내 위치</button></td>
					<td ><button class="BTN_LABEL" id="BTN_WHERE_IS_SEARCH_LOCATION" style="width:100%;height:100%;">장소 찾기</button></td>
					<td ><button class="BTN_LABEL" id="BTN_WHERE_IS_REGIST_LOCATION" style="width:100%;height:100%;">도착 알림 등록</button></td>
				</tr>
			</table>
		</div>
		<div style="width:100%; height:6%;">
			<table style="border-style: none;">
				<col width="50%"/>
				<tr>
					<td ><button class="BTN_LABEL" id="BTN_WHERE_IS_HELP" style="width:100%;height:100%;">사용법</button></td>
					<td ><button class="BTN_LABEL" id="BTN_WHERE_IS_EXIT" style="width:100%;height:100%;">종료</button></td>
				</tr>
			</table>
		</div>
	</div>
  </ion-pane>
  <ion-content>
</ion-view>
