<style>
	.ivr_monitor 			{width:100%; height:100%;}
	.ivr_monitor table		{width:100%; height:100%; font-size:100%; border-collapse: separate; border-spacing: 1px; line-height: 100%;}
	.ivr_monitor table th	{font-weight:bold; text-align: center; white-space:normal; vertical-align: middle; word-break:break-all; word-wrap:break-all; background:#4789b7; color:white; }
	.ivr_monitor table td	{text-decoration:none; text-align: left;   white-space:normal; vertical-align: middle; word-break:break-all; word-wrap:break-all; background:#eee; padding:0 10px;}
	

	.ivr_call_status 			{width:100%; height:100%; background:white;}
	.ivr_call_status table		{width:100%; height:100%; font-size:100%; border: 0px;  line-height: 100%;}
	.ivr_call_status table th	{border: 0px; text-align: center;   }
	.ivr_call_status table td	{border: 0px; }
</style>

<script>
var DIV_CALL_STATUS_LOG = 'DIV_CALL_STATUS_LOG';

_RS.GRID_COLS = 10;
_RS.GRID_ROWS = 100;
_RS.NumberArray = function(n) {
	var A = [];
	for (var i=0; i<n; i++) {
		A.push(i);
	}
	return A; 
}
var IVR_SERVER_SELECTED		= null;
var ARSAUTH_WS_SERVER_URL	= '';
var ARSAUTH_WS_CHANNEL		= 'arsauth-status';

var CALL_GRID_STATUS = [];
var TOGGLE_CALL_STATUS_LOG = false;
var TOGGLE_SYSTEM_STATUS = false;
var TOGGLE_CONFIG_PAGE = false;

var STR_HTML_CALL_STATUS = null;

function IP_TO_WS_SERVER_URL(STR_IP) {
//	return 'ws://' + STR_IP + ':3000';
	return 'ws://' + window.location.hostname + ':3000';
}
	
function INIT_WIDGETS_FOR_MENU_CONTENTS() {
	$(".BTN_IVR_MONITOR").jqxButton({
		width: '100%',
		height: '100%'
	}).on('click', function () {
		var ID = $(this).attr('ID');
		if (ID == 'DUMMY') {
		} else if (ID == 'BTN_TOGGLE_CALL_STATUS_LOG') {
			TOGGLE_CALL_STATUS_LOG = !TOGGLE_CALL_STATUS_LOG;
			UPDATE_LAYOUT();
		} else if (ID == 'BTN_TOGGLE_SYSTEM_STATUS') {
			TOGGLE_SYSTEM_STATUS = !TOGGLE_SYSTEM_STATUS;
			UPDATE_LAYOUT();
		} else if (ID == 'BTN_TOGGLE_CONFIG_PAGE') {
			TOGGLE_CONFIG_PAGE = !TOGGLE_CONFIG_PAGE;
			UPDATE_LAYOUT();
		}
	});

	for (var i=0; i<(_RS.GRID_ROWS * _RS.GRID_COLS); i++) {
		CALL_GRID_STATUS.push({});
	}

	UPDATE_LAYOUT();
	LOAD_STR_HTML_CALL_STATUS();
	LOAD_CONFIG();
	
	TOGGLE_SIDEMENU();

	INIT_NAUTES_SoundVisualizer();	
}

function LOAD_STR_HTML_CALL_STATUS() {
	QIIP_API_ACCESS({
			REQ: 'api_GET_FILE',
			FLDR: _FLDR_TEMPLATE,
			FILE: 'PAGES/APP_CONTENTS_CALL_STATUS.html',
		},function(STR_RESULT) {
			STR_HTML_CALL_STATUS = STR_RESULT;
	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		'<pre>' + STR_RESULT + '</pre>',
	    		'me',
	    		'70%'
	    	);
		}
	);

}

function UPDATE_LAYOUT() {
	if (TOGGLE_CALL_STATUS_LOG) {
		$('#DIV_CALL_STATUS').css('width','60%');
		$('#DIV_CALL_STATUS_LOG').css('width','40%');
		$('#BTN_TOGGLE_CALL_STATUS_LOG').html('풍선로그 가리기');
	} else {
		$('#DIV_CALL_STATUS').css('width','100%');
		$('#DIV_CALL_STATUS_LOG').css('width','0%');
		$('#BTN_TOGGLE_CALL_STATUS_LOG').html('풍선로그 보이기');
	}
	if (TOGGLE_SYSTEM_STATUS) {
		$('#DIV_CALL_STATUS_MAIN').css('height','70%');
		$('#DIV_SYSTEM_STATUS_MAIN').css('height','30%');
		$('#DIV_NAUTES_SoundVisualizer').css('height','35%');
		$('#DIV_CALL_STATUS_GRID').css('height','65%');
		$('#BTN_TOGGLE_SYSTEM_STATUS').html('시스템 상태 가리기');
	} else {
		$('#DIV_CALL_STATUS_MAIN').css('height','100%');
		$('#DIV_SYSTEM_STATUS_MAIN').css('height','0%');
		$('#DIV_NAUTES_SoundVisualizer').css('height','25%');
		$('#DIV_CALL_STATUS_GRID').css('height','75%');
		$('#BTN_TOGGLE_SYSTEM_STATUS').html('시스템 상태 보이기');
	}
	
	if (TOGGLE_CONFIG_PAGE) {
//		$('#DIV_NAUTES_SoundVisualizer').css('height','0%');
		$('#DIV_NAUTES_SoundVisualizer').hide();
		$('#DIV_IVR_MONITOR_PAGE').css('height','0%');
		$('#DIV_IVR_CONFIG_PAGE').css('height','95%');
		$('#BTN_TOGGLE_CONFIG_PAGE').html('모니터 페이지로 전환');
	} else {
//		$('#DIV_NAUTES_SoundVisualizer').css('height','25%');
		$('#DIV_NAUTES_SoundVisualizer').show();
		$('#DIV_IVR_MONITOR_PAGE').css('height','95%');
		$('#DIV_IVR_CONFIG_PAGE').css('height','0%');
		$('#BTN_TOGGLE_CONFIG_PAGE').html('설정 페이지로 전환');
	}
}

function LOAD_CONFIG() {

	INIT_WIDGETS_FOR_SELECT_IVR_SERVER(_RS.APP_CONFIG.IVR_SERVER_IPS);
	IVR_SERVER_SELECTED = _RS.APP_CONFIG.IVR_SERVER_IPS[0];
	CHANGE_MONITOR_TARGET_IVR_SERVER();
	return;

/*	
	QIIP_API_ACCESS({
			REQ: 'api_GET_FILE',
			FLDR_TEMPLATE: _FLDR_TEMPLATE,
			FILE_TEMPLATE: 'PAGES/CONFIG.JSON',
		},function(STR_RESULT) {
			_RS.CONFIG = {};
			try { _RS.CONFIG = JSON.parse(STR_RESULT); } catch(e) { }
			_RS.$apply();

	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		'<pre>' + JSON.stringify(_RS.CONFIG, null, '\t') + '</pre>',
	    		'me',
	    		'70%'
	    	);
	    	
			INIT_WIDGETS_FOR_SELECT_IVR_SERVER(_RS.CONFIG.IVR_SERVER_IPS);
	    	IVR_SERVER_SELECTED = _RS.CONFIG.IVR_SERVER_IPS[0];
			CHANGE_MONITOR_TARGET_IVR_SERVER();
		}
	);
*/
}

function INIT_WIDGETS_FOR_SELECT_IVR_SERVER(ARRAY_IVR_SERVER) {
	$("#SELECT_STATUS_COLS").jqxDropDownList({
		width: '100%',
		source: [
			{
				DISP: '10',
				VALUE: 10
			},
		],
		displayMember: 'DISP',
		valueMember: 'VALUE',
		selectedIndex: 0
	}).on('change', function (event) {
		var args = event.args;
		if (args) {
			_RS.GRID_COLS = args.item.originalItem.VALUE;
			_RS.$apply();
		}
	});

	$("#SELECT_STATUS_ROWS").jqxDropDownList({
		width: '100%',
		source: [
			{
				DISP: '10',
				VALUE: 10
			},
			{
				DISP: '20',
				VALUE: 20
			},
			{
				DISP: '50',
				VALUE: 50
			},
			{
				DISP: '100',
				VALUE: 100
			},
			{
				DISP: '200',
				VALUE: 200
			},
		],
		displayMember: 'DISP',
		valueMember: 'VALUE',
		selectedIndex: 3
	}).on('change', function (event) {
		var args = event.args;
		if (args) {
			_RS.GRID_ROWS = args.item.originalItem.VALUE;
			_RS.$apply();
		}
	});

	$("#SELECT_IVR_SERVER").jqxDropDownList({
		width: '100%',
		source: ARRAY_IVR_SERVER,
		displayMember: 'SERVER_NAME',
		valueMember: 'SERVER_IP',
		selectedIndex: 0
	}).on('change', function (event) {
		var args = event.args;
		if (args) {
			// index represents the item's index.                      
			var index = args.index;
			var item = args.item;
			// get item's label and value.
			var label = item.label;
			var value = item.value;
			var type = args.type;

			IVR_SERVER_SELECTED = item.originalItem;
			CHANGE_MONITOR_TARGET_IVR_SERVER();

	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		'<pre> CHANGE_TO => ' + JSON.stringify(IVR_SERVER_SELECTED, null, '\t') + '</pre>',
	    		'me',
	    		'70%'
	    	);
		}
	});
}

function CHANGE_MONITOR_TARGET_IVR_SERVER() {
	if (typeof WS_CONNECTION_FOR_IVR_MONITOR !== 'undefined' && WS_CONNECTION_FOR_IVR_MONITOR !== null) WS_CONNECTION_FOR_IVR_MONITOR.CLOSE_FORCE();
	ARSAUTH_WS_SERVER_URL = IP_TO_WS_SERVER_URL(IVR_SERVER_SELECTED.SERVER_IP);
	INIT_WS_CONNECTION_FOR_IVR_MONITOR(ARSAUTH_WS_SERVER_URL, ARSAUTH_WS_CHANNEL);
	$('#FRAME_IVR_SYSTM_INFO').attr('src', 'http://' + IVR_SERVER_SELECTED.SERVER_IP + '/admin/config.php?STAT_ONLY');
	$('#FRAME_IVR_CONFIG_PAGE').attr('src', 'http://' + IVR_SERVER_SELECTED.SERVER_IP + '/admin/config.php?display=arsauth&STAT_ONLY');
}

var WS_CONNECTION_FOR_IVR_MONITOR = undefined;
function INIT_WS_CONNECTION_FOR_IVR_MONITOR(ws_server, ws_channel) {

	WS_CONNECTION_FOR_IVR_MONITOR = {};
    // if user is running mozilla then use it's built-in WebSocket
    window.WebSocket = window.WebSocket || window.MozWebSocket;
  
    // if browser doesn't support WebSocket, just show some notification and exit
    if (!window.WebSocket) {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		'죄송합니다, 접속에 사용하신 웹 브라우저가 WebSockets 기능을 지원하지 않습니다.',
    		'me',
    		'70%'
    	);
      return;
    }

    // open connection
    WS_CONNECTION_FOR_IVR_MONITOR = new WebSocket(ws_server, ws_channel);

    WS_CONNECTION_FOR_IVR_MONITOR.onopen = function () {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		sprintf( "ASTERISK IVR 시스템에 연결되었습니다."),
    		'me',
    		'70%'
    	);
    };
    
    WS_CONNECTION_FOR_IVR_MONITOR.onerror = function (error) {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		'ASTERISK IVR 시스템에 어떤 문제가 있거나 ASTERISK IVR 시스템이 응답하지 않습니다.',
    		'you',
    		'70%'
    	);
    };

    // most important part - incoming messages
    WS_CONNECTION_FOR_IVR_MONITOR.onmessage = function (message) {
        // try to parse JSON message. Because we know that the server always returns
        // JSON this should work without any problem but we should make sure that
        // the massage is not chunked or otherwise damaged.
        try {
          var JSON_PARSED = JSON.parse(message.data);
        } catch (e) {
	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		'이건 JSON 스트링이 아닌것 같아요! : ' + message.data,
	    		'me',
	    		'70%'
	    	);
			return;
        }

        // NOTE: if you're not sure about the JSON structure
        // check the server source code above
        if ('TYPE' in JSON_PARSED) {
	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		'<pre>' + JSON.stringify(JSON_PARSED, null, '  ') + '</pre>',
	    		'you',
	    		'70%'
	    	);
		  
			var TYPE = JSON_PARSED.TYPE;
			if (TYPE == 'WS_CONNECTION_ID') {			// 대소문자 구분!
			  	var REQUEST = {
			  		CMD: 'REGIST_AS_MONITOR',
			  		WS_CONNECTION_ID: JSON_PARSED.WS_CONNECTION_ID
			  	};
			  	
		      	WS_CONNECTION_FOR_IVR_MONITOR.send(JSON.stringify(REQUEST));

		    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
		    		DIV_CALL_STATUS_LOG,
		    		'<pre>' + JSON.stringify(REQUEST, null, '  ') + '</pre>',
		    		'me',
		    		'70%'
		    	);
			} else if (TYPE == 'ARSAUTH-STATUS') {	// 대소문자 구분!
          	
				UPDATE_CALL_GRID_STATUS(JSON_PARSED);

			} else if (TYPE == 'ARSAUTH_RESULT') {	// 대소문자 구분!
				if (JSON_PARSED.CODE != 200) {
			    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
			    		DIV_CALL_STATUS_LOG,
			    		'ASTERISK IVR 시스템에 장애가 발생했습니다.<br/><br/>' +
			    		sprintf("장애 원인은<br/><br/>[%s]<br/><br/>입니다.<br/><br/>", JSON_PARSED.MESSAGE) +
			    		'최대한 빠른 시일 내에 복구하도록 하겠습니다.',
			    		'you',
			    		'70%'
			    	);
				} else {
				}
			}
        } else {
	    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
	    		DIV_CALL_STATUS_LOG,
	    		'흠..., JSON 스트링이 이런식이면 곤란한데...  TYPE 속성이 없쟎아...: ' + JSON.stringify(JSON_PARSED, null, '\t'),
	    		'me',
	    		'70%'
	    	);
        }
    };

    WS_CONNECTION_FOR_IVR_MONITOR.onclose  = function () {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		'ASTERISK IVR 시스템과 연결이 끊어졌습니다. 1초 이내에 연결을 재시도 합니다.',
    		'me',
    		'70%'
    	);
		//try to reconnect in 1 seconds
		setTimeout(function(){INIT_WS_CONNECTION_FOR_IVR_MONITOR(ARSAUTH_WS_SERVER_URL, ARSAUTH_WS_CHANNEL)}, 1000);
    };

    WS_CONNECTION_FOR_IVR_MONITOR.CLOSE_FORCE  = function () {
    	QIIP_APP_LOG_CONSOLE.CHAT_LOG(
    		DIV_CALL_STATUS_LOG,
    		'ASTERISK IVR 시스템과 연결을 정상적으로 종료 합니다.',
    		'me',
    		'70%'
    	);
    	WS_CONNECTION_FOR_IVR_MONITOR.onclose  = function () {}; // disable onclose handler first
    	WS_CONNECTION_FOR_IVR_MONITOR.close();
    	WS_CONNECTION_FOR_IVR_MONITOR = undefined;
    }
}


function UPDATE_CALL_GRID_STATUS(JSON_PARSED) {
	var CALL_FROM_LAST = parseInt(JSON_PARSED.CALL_ARGS.CALL_FROM.slice(-1));
	var INDEX_FOUNDED = -1;
	for(var i=CALL_FROM_LAST; i<CALL_GRID_STATUS.length; i += 10) {
		if ('CALL_ARGS' in CALL_GRID_STATUS[i]) {
			if (CALL_GRID_STATUS[i].CALL_ARGS.UNIQUE_ID == JSON_PARSED.CALL_ARGS.UNIQUE_ID) {
				CALL_GRID_STATUS[i] = JSON_PARSED; // update
				INDEX_FOUNDED = i;
				break;
			}
		}
	}
	if (INDEX_FOUNDED < 0) {
		for(var i=CALL_FROM_LAST; i<CALL_GRID_STATUS.length; i += 10) {
			if (!('CALL_ARGS' in CALL_GRID_STATUS[i])) {
				CALL_GRID_STATUS[i] = JSON_PARSED;
				INDEX_FOUNDED = i;
				break;
			}
		}
	}
	$('#CALL_GRID_' + INDEX_FOUNDED).css('backgroundColor', 'yellow');
//	$('#CALL_GRID_' + INDEX_FOUNDED).html(JSON.stringify(JSON_PARSED, null, '\t'));
	$('#CALL_GRID_' + INDEX_FOUNDED).html(GET_HTML_STATUS(JSON_PARSED));
	
	if (JSON_PARSED.CALL_END) {
		$('#CALL_GRID_' + INDEX_FOUNDED).css('backgroundColor', '');
		$('#CALL_GRID_' + INDEX_FOUNDED).html('');
		CALL_GRID_STATUS[INDEX_FOUNDED] = {};
	}
	_RS.$apply();
}



function GET_HTML_STATUS_DISABLE(JSON_PARSED) {
	var STR_RESULT = QIIP_STATIC_HTML(JSON_PARSED, STR_HTML_CALL_STATUS);
	return STR_RESULT;
}

function GET_HTML_STATUS(JSON_PARSED) {
	var STR_HTML = '';
		STR_HTML += '<div class="ivr_call_status">';
		STR_HTML += '<table>';
		STR_HTML += '	<tr>';
		STR_HTML += '		<th style="text-align:center; background:#94bbd6; color:black; font-size:0.8em;">';
		STR_HTML += JSON_PARSED.REMOTE_ADDR;
		STR_HTML += '		</th>';
		STR_HTML += '	</tr>';
		STR_HTML += '	<tr>';
		STR_HTML += '		<th style="text-align:center; background:white; color:black; font-weight:normal; font-size:0.8em;">';
		STR_HTML += JSON_PARSED.CALL_ARGS.CALL_FROM;
		STR_HTML += '		</th>';
		STR_HTML += '	</tr>';
		STR_HTML += '	<tr>';
		STR_HTML += '		<td style="text-align:center; background:white; color:black; font-weight:normal; font-size:0.8em;">';
		STR_HTML += JSON_PARSED.CALL_ARGS.CALL_TO;
		STR_HTML += '		</td>';
		STR_HTML += '	</tr>';
		STR_HTML += '	<tr>';
		STR_HTML += '		<th style="text-align:center; background:#94bbd6; color:black; font-size:0.8em;border:0;">';
		STR_HTML += JSON_PARSED.CALL_STATUS.MESSAGE.STEP_ATTRIBUTE;
		STR_HTML += '		</th>';
		STR_HTML += '	</tr>';
		STR_HTML += '</table>';	
		STR_HTML += '</div>';
	return STR_HTML;
}

var _NAUTES_SoundVisualizer = undefined;
function INIT_NAUTES_SoundVisualizer() {
	_NAUTES_SoundVisualizer = new NAUTES_SoundVisualizer({
		DOM_ID_FOR_RENDERING: 'DIV_NAUTES_SoundVisualizer',
		DOWNLOAD_DISABLE: false
	});
/*
	_NAUTES_SoundVisualizer.WAE_PLAYLIST.load([{
			src: 'http://ask-regard.call-save.biz?PASS=1&cmd=api_YOUTUBE_MP3&YOUTUBE_videoId=yQxB1M0VZLU&EXT=.mp3'
	}]).then(function() {
	});
*/
}

</script>
<div class="ivr_monitor">
	<div style="height:5%; overflow:auto;">
		<table>
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<tr>
				<th style="background:#94bbd6; color:#333;">SELECT IVR</th>
				<td>
					<div id="SELECT_IVR_SERVER" />
				</td>

				<th style="background:#94bbd6; color:#333;">COLS</th>
				<td>
					<div id="SELECT_STATUS_COLS" />
				</td>

				<th style="background:#94bbd6; color:#333;">ROWS</th>
				<td>
					<div id="SELECT_STATUS_ROWS" />
				</td>

				<td>
				</td>

				<td style="background:#ccc; ">
					<button class="BTN_IVR_MONITOR" id="BTN_TOGGLE_CONFIG_PAGE">
					</button>
				</td>

				<td style="background:#ccc; ">
					<button class="BTN_IVR_MONITOR" id="BTN_TOGGLE_SYSTEM_STATUS">
					</button>
				</td>
				<td style="background:#ccc; ">
					<button class="BTN_IVR_MONITOR" id="BTN_TOGGLE_CALL_STATUS_LOG">
					</button>
				</td>
			</tr>
		</table>
	</div>
	<div style="height:70%;" id="DIV_IVR_MONITOR_PAGE">
		<div style="height:30%;" id="DIV_SYSTEM_STATUS_MAIN">
			<iframe style="width:100%;height:100%;overflow:auto;" id="FRAME_IVR_SYSTM_INFO"></iframe>
		</div>
		<div style="height:70%; overflow:auto;" id="DIV_CALL_STATUS_MAIN">
			<div style="width:60%;height:100%;float:left;overflow:auto;" id="DIV_CALL_STATUS">
				<div style="width:100%;height:25%;" id="DIV_NAUTES_SoundVisualizer">
				</div>
				<div style="width:100%;height:75%;" id="DIV_CALL_STATUS_GRID">
					<table style="width:100%;height:100%;">
						<col width="5%" />
				      	<col ng-repeat="nCol in NumberArray(GRID_COLS)" width="{{ 95 / GRID_COLS }}%" >
				      	</col>
					  	<tr style="height:50px;">
					      	<td>
					  		</td>
					      	<th ng-repeat="nCol in NumberArray(GRID_COLS)" >
					      		{{nCol}}
					      	</th>
					  	</tr>
					  	<tr style="height:150px;" ng-repeat="nRow in NumberArray(GRID_ROWS)">
					      	<th style="text-align:center;">
					      		{{nRow * GRID_COLS}}
					      	</th>
					      	<td ng-repeat="nCol in NumberArray(GRID_COLS)" >
					      		<div style="width:100%; height:100%;overflow:auto;" id="CALL_GRID_{{nRow*GRID_COLS + nCol}}">
					      		</div>
					      	</td>
					  	</tr>
					</table>
				</div>
			</div>
			<div style="width:40%;height:100%;float:left;background-color:#c9c9c9;overflow:auto;" id="DIV_CALL_STATUS_LOG">
			</div>
		</div>
	</div>
	<div style="height:70%;" id="DIV_IVR_CONFIG_PAGE">
		<iframe style="width:100%;height:100%;overflow:auto;" id="FRAME_IVR_CONFIG_PAGE"></iframe>
	</div>
</div>
